{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Сервіс обліку студентів - {% block meta_title %}{% endblock meta_title %}</title>
    <meta name="description"
          content="Система обліку Студентів навчального закладу">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css"
          integrity="sha512-OtwMKauYE8gmoXusoKzA/wzQoh7WThXJcJVkA29fHP58hBF7osfY0WLCIZbwkeL9OgRCxtAfy17Pn3mndQ4PZQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
<!--Start Container-->
<div class="container">
    <!--    Start Header-->
    <div class="row mt-3" id="header">
        <div class="col-sm-8">
            <h1>Сервіс обліку студентів</h1>
        </div>
        <div class="col-sm-4 d-flex align-items-center" id="group-selector">
            <label for="group"><strong>Група:</strong></label>
            <select name="group" id="group" class="custom-select">
                <option value="">Усі студенти</option>
                {% for group in GROUPS %}
                <option value="{{ group.id}}" {% if group.selected %}selected="1" {% endif %}>
                    {{ group.title }}{% if group.leader %}, {{ group.leader }}{% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!--    End Header-->

    <!--    Start SubHeader-->
    <div class="row" id="sub-header">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
                        Студенти
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/journal" class="nav-link {% if '/journal' in request.path %}active{% endif %}">
                        Відвідування
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'groups' %}" class="nav-link {% if '/groups' in request.path %}active{% endif %}">
                        Групи
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact_admin' %}"
                       class="nav-link {% if '/contact-admin' in request.path %}active{% endif %}">
                        Контакти
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--    End SubHeader-->


    <!--    Start Main Page Content-->
    <div class="row" id="content-columns">
        <div class="col-sm-12" id="content-column">

            {% block status_message %}
            {% if request.GET.status_message %}
            <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
            {% endif %}
            {% endblock %}
            <h2 class="my-3">{% block title %}{% endblock title %}</h2>
            {% block content %}{% endblock content %}

        </div>
    </div>
    <!--    End Main Page Content-->

    <!--    Start Footer-->
    <div class="row" id="footer">
        <div class="col-sm-12">
            &copy; 2021 Сервіс Обліку Студентів
        </div>
    </div>
    <!--    End Footer-->
</div>
<!--End Container-->

<!--Modal Boilerplate-->
<div class="modal fade" id="myModal" tabindex="=-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"><!-- --></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"><!-- --></div>
            <div class="modal-footer"><!-- --></div>
        </div>
    </div>
</div>

<!--JS Inclusion-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"
        integrity="sha512-+ruHlyki4CepPr07VklkX/KM5NXdD16K1xVwSva5VqOVbsotyCQVKEwdQ1tAeo3UkHCXfSMtKU/mZpKjYqkxZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"
        integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn"
        crossorigin="anonymous"></script>
<script src="{% static 'js/js.cookie-2.2.1.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>