{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студенів{% endblock title %}

{% block content %}

    <a href="{% url 'students_add' %}" class="btn btn-primary mb-3" role="button">Додати Студента</a>

    <!-- Start Students Listing-->
    <table class="table table-hover table-striped ">
        <tread>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>Прізвище &uarr;</th>
                <th>Ім'я</th>
                <th>№ Білету</th>
                <th>Дії</th>
            </tr>
        </tread>
        <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><img height="35" width="35" src="{% static student.image %}" alt="" class="rounded-circle"></td>
            <td><a href="{% url 'students_edit' student.id %}">{{ student.last_name }}</a></td>
            <td><a href="{% url 'students_edit' student.id %}">{{ student.first_name }}</a></td>
            <td>{{ student.ticket }}</td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        Дія
                    </button>
                    <div class="dropdown-menu">
                        <a href="{% url 'students_edit' student.id %}" class="dropdown-item">Редагувати</a>
                        <a href="/journal/{{ student.id }}" class="dropdown-item">Відвідування</a>
                        <a href="{% url 'students_delete' student.id %}" class="dropdown-item">Видалити</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- End Students Listing-->

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">1</a>
            </li>
            <li class="page-item active">
                <a href="#" class="page-link">2</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">3</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">4</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link">5</a>
            </li>
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock content %}